body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

p {
    line-height: 2;
}

#title {
    background-color: #ff4c68;
    text-align: center;
}

.container-fluid {
    padding: 3% 15%;
}

/* navbar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}

/* Download Buttons */

.download {
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-img {
    transform: rotate(25deg);
    height: auto;
    width: 50%;
}

/* features area */

#features {
    text-align: center;
}

.feature-boxes {
    justify-content: space-between;
    margin: 0;
}

.feature-info {
    padding: 3% 5% 3%;
}

/* Icons + text */

.fa-solid {
    color: #ff4c68;
    font-size: 4rem;
}

.fa-solid:hover {
    color: slateblue;
}

.feature-h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 6% 0 3%;
}

.feature-p {
    color: #8f8f8f;
}

/* TESTIMONIAL */

#testimonials {
    background-color: #ff4c68;
    color: rgb(255, 255, 255);
    padding: 7% 15%;
    text-align: center;
}

.testimonial-img {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

#press {
    background-color: #ff4c68;
    padding: 3%;
    text-align: center;
}

.press-img {
    margin: 20px 5% 50px;
    width: 10%;
}